#mainbody {
}

#highdiv {
  border-radius: 40px!important;
  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#firstcol {
  border-right: 1px solid rgba(80,86,89,0.11);
  top: 0;
  position: static;
  scroll-behavior: initial;
}

#usercard {
  border-radius: 10!important;
}

#usercard {
  border-radius: 5px;
  border-color: rgb(242 240 255);
}

#userimage {
  border-radius: 50%;
}

#cardstyle {
  border-radius: 20px;
}

#btntransaction {
  border-radius: 15px!important;
  box-shadow: 5px 9px 35px #4a56e2!important;
  border-color: transparent!important;
}

#bottomborder {
  border-bottom: 1px solid rgba(80,86,89,0.11);
}

#iconcards {
  border-radius: 8px;
}

#inputareas {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

#btnNoshadow {
  border-radius: 15px!important;
  box-shadow: initial;
  border-color: transparent!important;
}

#buttonborder {
  padding: 6px;
  border-color: #e5e3f2!important;
  border-radius: 8px;
}

#tabletitle {
  background-color: #f8f8f9!important;
}

#firstrow {
  border-top: 0px!important;
}

#tabletitlecell {
  border-bottom: 1px!important;
}

#logo {
  position: sticky!important;
  top: 10px;
}

#words {
}

